body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

header{
    margin-left: 175px;
}

#masterWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

#label-chart-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin-top: -20px;
}

#years-labels-container {
    margin-top: -45px;
    margin-right: 10px;
    order: -1;
    width: 200px;
}

.year-label {
    height: 155px;
    margin-top: -20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 10px;
}

#week-labels-container {
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin-bottom: 25px;
    position: relative; 
    margin-left: 110px;
}

#week-text-label {
    margin-left: -600px;
    margin-bottom: 10px;
}

#chart-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#chart-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.year-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
}

.month-container {
    display: flex;
    padding-right: 4px;
}
.month-spacer {
    width: 5px; /* or whatever width you desire for the visual gap */
    height: 10px; /* same height as week-boxes to align them properly */
    flex-shrink: 0; /* prevent the spacer from shrinking */
}

.decade-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#decade-labels-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.decade-label {
    writing-mode: vertical-rl; /* Rotate the labels */
    transform: rotate(180deg); /* Flip the text to the correct direction */
    align-self: flex-start; /* Align to the top of the container */
}

.decade-spacer {
   flex-basis: 100%;
    height: 20px; 
}



.week-box {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 1px;
    border: 1px solid #000;
    background-color: transparent;
    box-sizing: border-box;
}

.week-box.lived {
    background-color: #808080;
}

.week-box.unlived {
    background-color: #f4f4f47c;
}

.week-label {
    width: 9.5px;
    text-align: center;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    margin: 0 2px;
}

#year-text-label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    writing-mode: vertical-rl;
    transform-origin: left;
    padding: 8px;
    font-size: 18px;
    white-space: nowrap;
    margin-right: 610px;
    margin-top: -324px;
}



#add-event-btn:hover {
    background-color: #e0e0e0;
}
.tooltip {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    line-height: 14px;
    z-index: 1000;
}
#floating-div {
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    padding: 20px;
    border-radius: 8px;
    position: fixed;
    top: 10vh;
    right: 5vw;
    width: 300px;
    max-height: 80vh;
    overflow-y: auto;
    z-index: 1000;
}




.event-group input[type="text"],
.event-group input[type="date"] {
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    padding: 8px 0;
    font-size: 14px;
    transition: border-color 0.3s;
}

.event-group input[type="text"]:focus,
.event-group input[type="date"]:focus {
    outline: none;
    border-bottom-color: #5cb85c;
}

.event-group input[type="color"] {
    border: none;
    margin-bottom: 15px;
    height: 35px;
    cursor: pointer;
}

.submit-event {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-event:hover {
    background-color: #0069d9;
}

.event-key {
    background-color: #e9ecef;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.event-key:hover {
    background-color: #dee2e6;
}
.remove-event {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin-left: auto; /* Aligns the button to the right */
    font-size: 14px;
    color: #fff;
    background-color: #dc3545; /* Bootstrap's btn-danger color */
    border-radius: 50%;
    border: none;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 10px;
    right: 10px;
}

.remove-event:hover {
    background-color: #c82333; /* Darken color on hover */
}

.compact-event {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
    position: relative;
}

.compact-event .event-dates {
    margin-left: 5px;
    font-size: 0.8em;
    color: #666;
}

.compact-event .color-indicator {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 5px;
    border: 1px solid #ddd;
}


.compact-event.highlight {
    background-color: #e8e8e8;
}

.hidden {
    display: none;
}
/* Style for the 'Add Life Event' button */
.add-event-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #f8f8f8;
    cursor: pointer;
    font-size: 24px;
    color: #888;
  }
  
  /* Style for the date picker container */
  .date-picker-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  /* Style for the date picker inputs */
  .date-picker {
    width: calc(50% - 5px);
  }
  
  /* Style for the color picker and submit button container */
  .color-submit-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  /* Style for the color picker preview */
  .color-picker-preview {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    cursor: pointer;
  }
  
  /* Style for the submit button */
  .submit-event {
    padding: 5px 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: grey;
    border-radius: 4px;
    cursor: pointer;
    
  }
  
  /* Style for the remove button */
  .remove-event {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 2px 5px;
  }
  
  /* General styling for event group */
  .event-group {
    position: relative;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px; /* Adjust the space between items */
  }
  
.event-name-and-color {
    display: flex;
    align-items: center;
    gap: 8px; /* Adjust the space between items */
}

.event-name-and-color input[type="text"] {
    flex-grow: 1; /* Allows the text input to fill the space */
}

.event-name-and-color input[type="color"] {
    /* Optional styles for the color picker */
    width: 30px; /* Adjust as needed */
    height: 30px; /* Adjust as needed */
    border: none;
    cursor: pointer;
}
.birthdate-section {
    margin-left: 175px;
    display: flex;
    align-items: center;
    gap: 10px; /* Space between elements */
  }
  
  #toggle-life-events {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #toggle-life-events:hover {
    background-color: #0056b3;
  }

  .event-label-container {
    /* Styles to visually format the label container */
    background: #FFF; /* Background color */
    border: 1px solid #000; /* Border */
    padding: 2px 5px; /* Padding */
    border-radius: 4px; /* Rounded corners */
    white-space: nowrap; /* Ensure the label text does not wrap */
    /* ... additional styles ... */
}